.product-page {
    padding: 5rem 0;
}
.product-one {
    display: flex;
    gap: 3rem;
}
.product-one__inner {
    width: 40%;
}
.product__center {
    width: 35%;
}
.product__center-title {
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: 500;
}
.product__box {
    margin-bottom: 15px;
    display: flex;
    gap: 2rem;
}
.product__box-name,
.product__box-text{
    font-size: 18px;
    font-weight: 500;
}
.product__box-name {
    color: #cdcdcd;
}
.product__item {
    margin-top: 60px;
}
.product__item-text {
    position: relative;
    margin-left: 3.5rem;
    margin-bottom: 15px;
    font-weight: 500;
}
.product__item-text::before{
    position: absolute;
    width: 25px;
    height: 25px;
    content: '';
    left: -3.5rem;
    top: 0;
}
.product__item-text:nth-child(1)::before{
    background: url('../images/product/product-1.svg') no-repeat;
}
.product__item-text:nth-child(2)::before{
    background: url('../images/product/product-2.svg') no-repeat;
}
.product__item-text:nth-child(3)::before{
    background: url('../images/product/product-3.svg') no-repeat;
}
.product__item-text:nth-child(4)::before{
    background: url('../images/product/product-4.svg') no-repeat;
}
.product__item-text:nth-child(5)::before{
    background: url('../images/product/product-5.svg') no-repeat;
}
.product-one__info {
    width: 25%;
}
.product-one__total {
    margin-bottom: 2rem;
    padding: 4rem;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
}
.product-one__total-text {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e0e0;
    font-size: 12px;
    font-weight: 500;
    color: #cdcdcd;
}
.product-one__top {
    display: flex;
    gap: 2rem;
    margin-bottom: 2.5rem;
}
.product-one__top-new {
    font-size: 2.4rem;
    font-weight: 700;
    color: #107869;
}
.product-one__top-old {
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
    color: #cdcdcd;
}
.product-one__total-btn {
    margin-bottom: 15px;
    width: 100%;
}
.pro-qty--product{
    margin-bottom: 2.5rem;
}
.cart-product__info-item--mobile{
    display: none;
}
.cart-product__info-item {
    gap: 5px;
}
.product-one__block {
    padding: 4rem;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
}
.product-one__block-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}
.product-one__elem {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}
.product-one__elem-text,
.product-one__elem-title {
    font-size: 18px;
    font-weight: 500;
}
.product-one__elem-text{
    color: #cdcdcd;
}
.tabs__top{
    display: flex;
}
.tabs__item-btn {
    margin-bottom: 5rem;
    width: 100%;
    border: 1px solid #e2e0e0;
    padding: 1rem 2rem;
	text-align: center;
	font-weight: 500;
	font-size: 1.8rem;
    cursor: pointer;
}
.active-tabs{
    color: #fff;
	background: #e50023;
	transition: all .3s ease-in;
}
.tabs__content {
    max-width: 111rem;
}
.tabs__box {
    width: 100%;
    display: flex;
    gap: 5rem;
}
.tabs__left {
    width: 50%;
}
.tabs__item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #dedede;
}
.tabs__item-text {
    font-weight: 500;
    color: #cdcdcd;
}
.tabs__item-name {
    font-size: 14px;
}
.tabs__right {
    width: 50%;
}
.show{
    display: flex;
}
.hide{
    display: none;
}